<body style="background-color: #eeeeee;margin: 0; padding: 30px;">
    <div style="background-color: #ffffff; padding: 20px 40px; margin: 0;">
        <p>Hello <%= name %>,</p>

        <p>Thank you for choosing Dine 'N' Dash. Your receipt is below.</p>

        <p>Sincerely,<br>
        The Dine 'N' Dash Team</p>
    </div>

    <div style="
            font-family: 'Courier New', Courier, monospace;
            position: relative;
            margin: 50px auto;
            background-color: #fff;
            width: 300px;
            padding: 20px 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        ">
        <div style="text-align: center;">
            <a href="http://mahonyandsons.com/" target="_blank">
                <img style="margin-top: 20px;width: 70%;" src="https://dinendash.in/rest_logo.png">
            </a>
        </div>
        <div style="text-align: center;font-size: 10px;">
            <p stype="margin-bottom: 5px;">5990 University Blvd, Vancouver, BC V6T 1Z3</p>
            <p stype="margin-bottom: 5px;">(604) 827-4444</p>
        </div>
        <div style="padding: 0px 10px;">
            <table style="width: 100%;vertical-align: bottom!important;">
                <thead>
                    <tr>
                        <th style="text-align: left;">Item</th>
                        <th style="text-align: right;">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(items, function(item) { %>
                        <tr class="item">
                            <td><%= item.name %></td>
                            <td style="text-align: right;white-space: nowrap;vertical-align: bottom!important;">$<%= item.price %></td>
                        </tr>
                    <% }); %>
                </tbody>
                <tfoot  style="text-align: right;">
                    <tr>
                        <th style="padding-right:25px;padding-top: 15px;">Subtotal</th>
                        <td style="white-space: nowrap;vertical-align: bottom!important;">$<%= payment.subtotal %></td>
                    </tr>
                    <tr>
                        <th style="padding-right:25px;">Tax</th>
                        <td style="white-space: nowrap;vertical-align: bottom!important;">$<%= payment.tax %></td>
                    </tr>
                    <tr>
                        <th style="padding-right:25px;">Tip</th>
                        <td style="white-space: nowrap;vertical-align: bottom!important;">$<%= payment.tip %></td>
                    </tr>
                    <tr>
                        <th style="padding-right:25px;">Total</th>
                        <td style="white-space: nowrap;vertical-align: bottom!important;">$<%= payment.total %></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div style="padding-top: 30px;font-size: 10px;text-align: center;">
            <p>Payment by <%= card_type %>: **** **** **** <%= card_number %></p>
            <p><%= created %></p>
            <a href="https://dinendash.in/" target="_blank">
                <img style="max-height: 30px;margin-top: 5px;" src="https://dinendash.in/logo_mini.png">
                <p style="margin: 5px 0 0;color: #000000;text-decoration: underline;">
                    Payment by Dine 'N' Dash
                </p>
            </a>
        </div>
    </div>
</body>
